h1 {
    font-size: 26px;
    color: #444444 !important;
    font-family: "Century Gothic", sans-serif;
    line-height: 1.5;
}

h2 {
    font-size: 28px;
    color: #444444 !important;
    font-family: "Century Gothic", sans-serif;
}

p {
    font-size: 22px;
    color: #ffffff;
    font-family: "Century Gothic", sans-serif;
    line-height: 1.5;
}

table {
    border: 1px solid #e4e4e4;
}

a {
    color: #3F51B5;
    text-decoration: none;
    font-weight: bold;
}
