@import "src/assets/scss/colors";

.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  min-width: 200px;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}

.toolbar {
  background-color: $color-navy-blue;
  display: flex;
  justify-content: space-between;
}

.cart-icon {
  color: $color-accent-green;
}

.toolbar-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.cart-btn {
  transform: scale(0.9);
  margin-right: 24px;
}

.locale-select {
  height: 30px;
}

::ng-deep mat-select-country {
  .mat-form-field-flex {
    top: -15px;
    max-height: 55px;

    .mat-form-field-infix, .mat-form-field-suffix {
      top: -15px;
    }
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
    opacity: 50%;
  }
}

.menu-button {
  color: $color-primary-white;
  margin-right: 16px;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.sidenav-content {
  background-color: white;
}

.menu-group {
  font-size: 19px;
  background-color: $color-navy-blue;
  color: $color-primary-white;
}

.menu-selection-button {
  font-size: 15px;
  background-color: $color-form-field-white;
  border: 1px solid whitesmoke;
}

.login {
  color: $color-primary-white;
  margin-top: 15px;
  margin-right: 8px;
  display: inline;
  float: right;
}

.logo {
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
