<div class="example-container" [class.is-mobile]="mobileQuery.matches">

    <mat-toolbar class="toolbar">
        <button mat-icon-button class="menu-button" *ngIf="isLogged()" (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img class="logo" src="assets/img/logo.svg" alt="Logo">
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
                     fixedTopGap="56" (click)="snav.close()">
            <mat-nav-list class="customNavList">
                <div *ngIf="adminAllowed()">
                    <a matSubheader class="menu-group">Security</a>
                    <a mat-list-item class="menu-selection-button" routerLinkActive="active"
                       [routerLink]="['/dashboard/users']">Users</a>
                </div>
                <div>
                    <a matSubheader class="menu-group">Account</a>
                    <a mat-list-item class="menu-selection-button" routerLinkActive="active" *ngIf="isLogged()"
                       (click)="logout()">Logout</a>
                </div>
                <router-outlet></router-outlet>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="container">
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <div class="footer mt-auto py-3">
        <app-footer></app-footer>
    </div>
</div>


