<div [hidden]="hidden">
    <div class="products-container">
        <mat-card class="product-card" *ngFor="let product of dataSource">
            <mat-card-header>
                <mat-card-title>{{product.localizedName}}</mat-card-title>
                <mat-card-subtitle>{{product.category.localizedName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="product.image | base64ImageGetterPipe" [alt]="product.localizedName">
            <mat-card-content>
                <p>{{product.localizedDescription}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button mat-raised-button color="accent">Add to cart</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-paginator #paginator [pageIndex]="pageNumber" [length]="totalElements" [pageSizeOptions]="[5, 10, 20]"
                   [pageSize]="pageSize" (page)="fetchData($event)" showFirstLastButtons>
    </mat-paginator>
</div>

<div [hidden]="!hidden">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>
