.product-card {
  max-width: 250px;

  .mat-card-actions {
    text-align: right;
  }
}

.products-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.mat-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
}

.spinner {
  margin: 0 auto;
}
