@import "src/assets/scss/colors";

.center {
  text-align: center;
}

.background {
  background-color: $color-navy-blue;
}

.font {
  color: $color-primary-white;
  font-size: 13px;
}

.right {
  float: right;
}
