@import "src/assets/scss/colors";

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  padding: 0 10px;
  line-break: unset;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-header-cell {
  background-color: $color-navy-blue;
}

.mat-header {
  color: $color-primary-white;
  font-size: 13px;
}

::ng-deep .mat-sort-header-arrow {
  color: $color-primary-white;
}

.mat-row:nth-child(even) {
  background-color: $color-form-field-gray;
}

.mat-row:nth-child(odd) {
  background-color: $color-form-field-white;
}

.spinner {
  margin: 0 auto;
}
