$color-navy-blue: #224669;
$color-blue: #0066cc;
$color-light-blue: #ecf0f4;
$color-header-blue: #cce6ff;
$color-info-blue: #e6f0fa;
$color-mid-blue: #d1e8ff;

$color-primary-black: #333;
$color-mate-black: #4a4a4a;
$color-primary-white: #fff;
$color-form-field-white: #fafafa;
$color-form-field-gray: #efefef;
